<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    {% for i,j,k,l in mylist %}
    <div class="col-3">
    <div class="card" style="width:18rem">
  <img src="{% static i %}" class="card-img-top" width="200px">
  <div class="card-body">
    <h5 class="card-title">{{j}}</h5>
    <p class="card-text">{{k}}</p>
    <a href="http://127.0.0.1:8000/myapp/whishcart/{{l}}" class="btn btn-primary">add to cart</a>
      <a href="http://127.0.0.1:8000/myapp/whishdel/{{l}}" class="btn btn-primary">remove</a>
  </div>
</div>
    </div>
{% endfor %}

    </div>
</body>
</html>